.comment{
    position: relative;
    transform-style:preserve-3d;
    opacity: 1;
    padding: 30px;
    border-radius: 30px;
    background-color: rgba(252, 252, 252, 0.5);
    border: 1px solid rgba(173, 173, 173,0.8);
    user-select: none;
    color: white;
}
.comment h3{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    overflow-wrap: break-word;
}
.comment h3 span{
    color: red;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 600;
}
.comment h3 span:hover{
    opacity: 0.6;
    text-decoration: underline;
}
.comment p{
    font-size: 14px;
}
.comment p span{
    text-transform: capitalize;
    font-weight: 900;
}